<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StartGrid" value="4"/>
    <add key="BarcodeGenerator" value="sequential"/>
    <add key="SampleCountPerPlate" value="88"/>
    <add key="shelfColumns" value="8"/>
    <add key="sampleGrids" value="16"/>
  </appSettings>
</configuration>
